@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.principal{
    height: 100dvh;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
   
    
}
.hidden{
    display: none;
}
.int1{
    border: solid 2px black;
    height: 95dvh;
    padding: 5px;
    border-radius: 10px;
}
.centro{
    display: flex;
    justify-content: center;
  
}
span:first-of-type {
    font-size: 1rem;
    position: relative;
    left: 150px;
    top: 10px;
    text-shadow: 2px 1px 10px ;
}
h1:first-of-type{
    text-shadow: 2px 1px 10px ;
}
.sidebar-divider {
    margin: 0 1rem 1rem;
}
.bg-blur {
   /* Aplica un desenfoque al fondo */
    background-color: rgb(136, 136, 136); /* Color de fondo */
    transition: transform 0.3s ease-in-out; /* Transición suave para el escalado */
}

.bg-blur:hover {
    transform: scale(1.1);
    background-color: rgb(99, 98, 98); /* Escala el elemento al 120% cuando se pasa el cursor por encima */
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.ElegirCat{
    border: solid 2px black;
    height: 95dvh;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}
/* Estilizar el contenedor de scroll */
#survey-section {
    overflow-y: auto; /* Agrega barra de desplazamiento vertical cuando sea necesario */
    max-height: 100vh; /* Define una altura máxima para el contenedor */
}

/* Personalizar la barra de desplazamiento */
#survey-section::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Personalizar el "thumb" (parte que se mueve) de la barra de desplazamiento */
#survey-section::-webkit-scrollbar-thumb {
    background-color: #88888842; /* Color del thumb */
    border-radius: 6px; /* Bordes redondeados del thumb */
}

/* Personalizar el área de la pista de la barra de desplazamiento */
#survey-section::-webkit-scrollbar-track {
    background-color: #c5c5c562; /* Color del área de la pista */
    border-radius: 6px; /* Bordes redondeados del track */
}

.hrDiv {
    height: 5px; /* Cambia el grosor */
    background-color: rgb(75, 11, 11); /* Cambia el color de la línea */
    border: none; /* Elimina el borde para usar solo el color de fondo */
}

/* ++++++++++++++++++++++++*/

/* From Uiverse.io by kennyotsu-monochromia */ 


.ShowSurveys{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.surveyContainer{
    position: relative;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.surveycontainerimg{
    width: 200px;
}

.eliminarSurvey{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
}

@media (max-width: 767px) {
    .principal {
        flex-direction: column;
    }
    .int1 {
        margin-bottom: 20px; 
    }
}